[submodule "KernelSU-Next"]
	path = KernelSU-Next
	url = https://github.com/KernelSU-Next/KernelSU-Next.git
[submodule "susfs4ksu"]
	path = susfs4ksu
	url = https://gitlab.com/simonpunk/susfs4ksu
	branch = kernel-4.14
[submodule "Yama"]
	path = Yama
	url = https://github.com/RavensVenix/Yama.git
[submodule "rwMem"]
	path = rwMem
	url = https://github.com/Yervant7/rwMem.git
